<form method="post" action="/tasks">
  <header>
    <a class="back btn btn-info" href="/tasks">Cancel</a>
    <button class="btn btn-info" type="submit">Save</button>
    <h2>New Task</h2>
  </header>
  <p><input class="form-control" type="text" name="task[title]" placeholder="Title"></p>
  <p><textarea class="form-control" name="task[description]" placeholder="Description"></textarea></p>
</form>
